<div>
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <p *ngIf="product.price">
    Price: {{ product.price }} $
  </p>

  <button (click)="share.emit(product.id)">
    Share
  </button>

  <app-e-commerce-product-alerts [product]="product" (notify)="notify.emit()"></app-e-commerce-product-alerts>
</div>
