<div class="all">
  <div class="lefter">
    <div class="text">Hosting</div>
  </div>
  <div class="left" routerLink="/e-commerce">
    <div class="text">E commerce</div>
  </div>
  <div class="center" routerLink="/">
    <div class="explainer"><span>Accueil</span></div>
    <div class="text">Bienvenue !</div>
  </div>
  <div class="right">
    <div class="text">Backend Development</div>
  </div>
  <div class="righter">
    <div class="text">SEO</div>
  </div>
</div>